<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>ng-template</h1>
</div>

<div class="row pt-3">
    <div class="col-3" >
        <div class="bg-primary p-3">
            Div 1 
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-3 text-center" >
        <div class="p-3 text-center" color="bg-danger">
            <h4>Div-1 </h4>
        </div>
        <button class="btn btn-primary">show</button>
        <button class="btn btn-danger mx-2" >hide</button>
    </div>
</div>
