<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="pipe">pipe</a>
                </li>
                <!-- Dropdown Employee -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Employee
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="add-emp">Add Employee</a></li>
                        <li><a class="dropdown-item" routerLink="emp-list">Employee List</a></li>

                    </ul>
                </li>
                <!-- Dropdown directives -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Directives
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="structural-dir">Structural Directive</a></li>
                        <li><a class="dropdown-item" routerLink="attribute-directive">Attribute Directive</a></li>
                        <li><a class="dropdown-item" routerLink="template">ng-template</a></li>

                    </ul>
                </li>
                <!-- Dropdown control-flow -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        if-else
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="ifelse">if-else</a></li>
                        <li><a class="dropdown-item" routerLink="for">for</a></li>
                        <li><a class="dropdown-item" routerLink="switch">switch</a></li>

                    </ul>
                </li>
                <!-- Dropdown form -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Forms
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="forms">form</a></li>
                        <li><a class="dropdown-item" routerLink="rForm">rForm</a></li>
                    </ul>
                </li>
                <!-- Dropdown API -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        API
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="get">Get Api</a></li>
                        <li><a class="dropdown-item" routerLink="post">Post Api</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>